*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    background: pink;
    padding: 30px;

}
.container{
    height: 100%;
    background:palegoldenrod;
    color: blue;
    border-radius: 4%;
}
header{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: greenyellow;
    border-radius: 8px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: blue;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.5);
    color: brown;
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 5% 0;
}
.inicio-detalle h1{
    font-size: 44px;
    background: orangered;
    background-clip: text;
    color: green;
}
.inicio-detalle h2{
    font-size: 18px;
    color: aquamarine;
    margin-bottom: 15px;
}
.inicio-detalle p{
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1rem;
    color: blueviolet;
}